---
import MainLayout from '../layouts/MainLayout.astro';

const title = 'Contacto - Duanly Vega Alderete';
---

<MainLayout {title}>
  <section class="content">
    <h2>Contacto</h2>
    <p>Información de contacto.</p>
  </section>
</MainLayout>
