---
import MainLayout from '../layouts/MainLayout.astro';


const title = 'Fundamentos - Duanly Vega Alderete';
---

<MainLayout {title}>
  <section class="content">
    <h2>Fundamentos JavaScript</h2>
    <p>Contenido sobre los fundamentos de JavaScript.</p>
  </section>
</MainLayout>
