---
import MainLayout from '../layouts/MainLayout.astro';

const title = 'Proyectos - Duanly Vega Alderete';
---

<MainLayout {title}>
  <section class="content">
    <h2>Proyectos</h2>
    <p>Lista de proyectos realizados usando JavaScript.</p>
  </section>
</MainLayout>
